{%  extends "base.html" %}
{% load static %}

{% block title %} Мои файлы {% endblock %}

{% block content %}
   <div class="container-fluid">
       <h2>Файлы</h2>

       <!--Форма поиска -->
       {%   include 'files/partials/search_form.html' %}

       <!-- Навигационная цепочка-->
       {% include 'files/partials/breadcrumbs.html' %}

        <!-- Форма загрузки -->
        {% include 'files/upload.html' %}

        <div class="row mt-3">
            {% if items %}
                {% for item in items %}
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column">
                                {% if item.type == 'folder' %}
                                    <i class="fas fa-folder fa-2x text-warning mb-2"></i>
                                {% else %}
                                    <i class="fas fa-file fa-2x text-primary mb-2"></i>
                                {% endif %}

                                <h5 class="card-title">{{ item.name }}</h5>

                            {% if item.type == 'file' %}
                                <p class="card-text flex-grow-1">
                                    <small class="text-muted">
                                        Размер: {{ item.size|filesizeformat }}<br>
                                        Изменен: {{ item.last_modified|date:"d.m.Y H:i" }}
                                    </small>
                                </p>
                            {% endif %}
                                <div class="mt-auto">
                                    {% if item.type == 'folder' %}
                                        <a href="{% url 'files:file_manager' %}?path={{ item.full_key|urlencode }}"
                                        class="btn btn-primary">Открыть</a>
                                    {% else %}
                                        <!-- Кнопки скачать и действия для файла -->
                                        <a href="{% url 'files:download' s3_key=item.full_key %}" class="btn btn-success btn-sm">Скачать</a>
                                        <button class="btn btn-secondary btn-sm" data-bs-toggle="dropdown">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>

                                        <ul class="dropdown-menu">
                                        <li>

                                                <button type="button" class="dropdown-item"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#renameModal"
                                                        data-full-name ="{{ item.full_key }}"
                                                        data-item-name ="{{ item.name }}">
                                                Переименовать
                                                </button>

                                        </li>

                                        <li>
                                            <form method="post" action="{% url 'files:delete' s3_key=item.full_key %}" style="display: inline">
                                                    {% csrf_token %}
                                                    <button type="submit" class="dropdown-item text-danger"
                                                            onclick="return confirm('Вы уверены, что хотите удалить файл?')">
                                                        Удалить
                                                    </button>
                                            </form>
                                        </li>

                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <p class="text-muted">В этой папке нет объектов</p>
                </div>
            {% endif %}
        </div>
   <!--Модальное окно для переименовывания -->
    <div class="modal fade" id="renameModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Переименовывание объекта</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                     <form method="post" id="renameForm" style="display: inline">
                         {% csrf_token %}
                        <div class="mb-3"><input type="text" class="form-control" id="newName" name="new_name" placeholder="Введите новое имя"></div>
                     </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveBtn">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dissmiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

   </div>
<script>
document.querySelectorAll('[data-bs-toggle="modal"][data-full-name]').forEach(button =>{
    button.addEventListener('click', function (){
        const fullKey = this.getAttribute('data-full-name')
        const form = document.getElementById('renameForm')

        form.action = `/files/rename/${encodeURIComponent(fullKey)}/`
    })
})

document.getElementById('saveBtn').addEventListener('click', function (){
    const form = document.getElementById('renameForm')

    form.submit()
})

</script>


{% endblock %}